.header-up{
    position: fixed;
    width: 100%;
    padding:1rem 2rem;
    background-color: rgba(245, 245, 245, .5);
}

.header-up{
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1024px){

    .header-up{
        display: none;
    }
}