header.header-up{
    position: fixed;
    width: 100%;
    padding:1rem 2rem;
}

header.header-up>nav{
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1024px){

    header.header-up{
       display: none;
    }
}