*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-size: 16px;
}
:root{
  --sucess:green;
  --error:red;
  --mainColor: #D9D9D9;
  --darkColor: #B6B6B6;
  --darkestColor:#5A5A5A;
  --white: #f7f7f7;
}
.success{
  font-weight: bold;
  color: var(--sucess);

}
.error{
  font-weight: bold;
  color: var(--error);
}
h2{
  font-size: 2.5rem;
}
p.text-link{
  padding:.2rem;
  cursor: pointer;
}
main.main-app{
  padding:0 0 8rem 0;
}

section.form-wraper{
  padding:1rem 1rem;
}

section.form-wraper form{
  background-color: var(--darkColor);
  padding:3rem 1rem;
}

section.form-wraper>h2{
  transform: translateY(1.5rem);
  text-align: center;
}

select{
  border:none;
  padding:.7rem 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--mainColor);
  border-radius: 2px;
  min-width: 15rem;
  width:100%;
  margin:1rem 0rem;
}