*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-size: 16px;
}

body{

  background-color: var(--mainColor);
}

:root{
  --mainColor: #3562acff;
  --mainDarkColor: #213655ff;
  --mainLightColor:#678bc0ff;
  --white: #f3e7e8ff;
  --brokenWhite:#efdadaff;
  --black:#1a1e24ff;
  --alertColor:#e84037ff;
  --alertDarkColor:#843331ff;
  --alertLightColor:#ea8886ff;
  --successColor:#39b4a0ff;
  --successDarkColor:#2a6055ff;
  --successLightColor:#86cabeff;
}

.success{
  font-weight: bold;
  color: var(--sucessColor);

}

.error{
  font-weight: bold;
  color: var(--alertColor);
}

h2{
  font-size: 2.5rem;
  color:var(--successColor)
}

li{
    list-style: none;
}

.text-link{
  padding:.2rem;
  cursor: pointer;
  color:var(--successColor);
  text-decoration: none;
}

main.main-app{
  padding:0 0 8rem 0;
  height: 100vh;
  background-color: var(--mainColor);
}

section.form-wraper{
  padding:1rem 1rem;
}

section.form-wraper form{
  background-color: var(--white);
  padding:3rem 1rem;
}

section.form-wraper>h2{
  transform: translateY(1.5rem);
  text-align: center;
}

select{
  border:none;
  padding:.7rem 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--mainColor);
  color: var(--brokenWhite);
  border-radius: 2px;
  min-width: 15rem;
  width:100%;
  margin:1rem 0rem;
  cursor:pointer;
}