*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-size: 16px;
}
:root{
  --sucess:green;
  --error:red;
}
.success{
  font-weight: bold;
  color: var(--sucess);

}
.error{
  font-weight: bold;
  color: var(--error);
}